# Build outputs
/build
/app/build
/androidApp/build
/shared/build

# Gradle
.gradle
**/build/
!src/**/build/

# Android Studio
*.iml
.idea/
.DS_Store
local.properties
captures/
.externalNativeBuild
.cxx

# Generated
/androidApp/release/
# Copied in by the iOS workflow
/iosApp/compose-resources
